<h1>Add a new parcel</h1>

<form action="/parcels" method="post">
  <div class="form-group">
    <label for="parcel_address">parcel address</label>
    <input id="n" name="parcel_address" class="form-control" type="text">
    <label for="parcel_weight">parcel weight</label>
    <input id="n" name="parcel_weight" class="form-control" type="text">
    <label for="parcel_dimensions">parcel dimensions</label>
    <input id="n" name="parcel_dimensions" class="form-control" type="text">
  </div>
  <button type="submit" class="btn">Go!</button>
</form>
