<h4>Parcel Dimensions: <%= @parcel.dimensions %></h4>
<h4>Parcel weight: <%= @parcel.weight %></h4>
<h4>Parcel address: <%= @parcel.address %></h4>

<p><a href="/parcels/<%= @parcel.id %>/edit">Edit parcel</a></p>
<a href="/parcels">Return to parcel list</a>
